.pin-link {
  text-decoration: none;
  color: black;
  outline: none;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 12.5px;
}

.pin-link:focus {
  animation: 5s infinite ease-in-out;
}

.pin-link:focus .pin-p-top img {
  animation: 5s infinite ease-in-out;
}

.pin-gutter {
  margin: 25px 10px 10px 10px;
}

.pin-p {
  height: auto;
  outline: none;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pin-p:hover {
  filter: brightness(80%);
}
.pin-p-img img {
  background-color: #7290e9;
  width: 100%;
  height: auto;
  cursor: zoom-in;
  border-radius: 15px;
}

.pin-p-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pin-p-desc img {
  width: 24px;
  height: 24px;
  cursor: zoom-in;
  border-radius: 50%;
}
.pin-p-desc p {
  width: 100%;
  margin: 0 0 0 5px;
  overflow: hidden;
  position: relative;
  border-bottom-right-radius: 10px;
}
.pin-p-desc p::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  height: 100%;
}
